<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Usuwanie oceny</title>
</head>
<body>
<main layout:fragment="content">
    <h1>Usuwanie oceny</h1>
    <h2>Wybierz ucznia którego ocene chcesz usunąć</h2>
    <br>

    <a href="#" th:href="@{|/panel-nauczyciela/usuwanie-oceny/${student.id}|}" th:each="student : ${students}" class="delete-grade-lint-to-student">
        <ul class="student-list">
            <li th:text="${student.id}" class="delete-grade-student-list-item"> Identyfikator ucznia</li>
            <li th:text="${student.firstName}" class="delete-grade-student-list-item"> test</li>
            <li th:text="${student.lastName}" class="delete-grade-student-list-item">test</li>
        </ul>
    </a>


</main>
</body>
</html>