<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Rejestracja nauczyciela</title>
</head>
<body>
<main layout:fragment="content">

        <h1>Formularz rejestracji</h1>
        <form action="#" th:action="@{/rejestracja/nauczyciel}" method="post" class="" th:object="${teacher}">
            <label for="firstName">Imię:</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Nazwisko:</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="subjectName">Przedmiot:</label>
            <input type="text" id="subjectName" name="subjectName">

            <label for="login">Login:</label>
            <input type="text" id="login" name="login" required>

            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Zarejestruj się</button>
        </form>
</main>
</body>
</html>